<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
   <title>Look at this</title>
   <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
   <link rel="stylesheet" href="static/bootstrap-theme.min.css">
   <meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body style="background: rgb(98, 196, 155)">
<h1 style="text-decoration:underline; text-align:center; font-weight:bold;">This is the website</h1>
<h2 style=" "> das</h2>


<button>
<a href="/" style="color: black;"> start site </a>
</button>

<p>
<img src="https://imgr.search.brave.com/NDud3gnY1lG_VA4DkJRhX9f91WiCsnamHP4AAKDA6HQ/fit/630/630/no/1/aHR0cHM6Ly9yZXMu/Y2xvdWRpbmFyeS5j/b20vdGVlcHVibGlj/L2ltYWdlL3ByaXZh/dGUvcy0tOFpReXRx/LWctLS90X1ByZXZp/ZXcvYl9yZ2I6MjYy/YzNhLGNfbGltaXQs/Zl9hdXRvLGhfNjMw/LHFfOTAsd182MzAv/djE1NDI5MDQ5NzAv/cHJvZHVjdGlvbi9k/ZXNpZ25zLzM1NTYw/NTJfMC5qcGc" alt="some_text" width="200" height="200">
</p>

</html>
