<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
   <title>Look at this</title>
   <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
   <link rel="stylesheet" href="static/bootstrap-theme.min.css">
   <meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body style="background: rgb(152,244,174)">
<h1 style="text-decoration:underline; text-align:center; font-weight:bold;">This is the website</h1>
<h2 style=" "> This can change the website look</h2>

<h2>
<button>
<a href="/layout1" style="color: black;"> layout1</a>
</button>
</h2>

<h2 style="text-align:left; font-weight:bold;">This is a link to the main Flask website </h2>

<h2>
<button>
<a href="https://flask.palletsprojects.com/en/2.0.x/" style="color: black;">To the Flask website</a>
</button>
</h2>

<h2>
<img src="https://imgr.search.brave.com/2IiQwtnoLp9m3LSWYShdm2rMJfc591KTsWQ3ZVh9lmU/fit/1200/487/no/1/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi9kL2Q5L0hl/bGxvXyh5ZWxsb3cp/LnN2Zy8xMjAwcHgt/SGVsbG9fKHllbGxv/dykuc3ZnLnBuZw" alt="Hello there" width="1080" height="350">
</h2>


</html>
