<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
   <title>Look at this</title>
   <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
   <link rel="stylesheet" href="static/bootstrap-theme.min.css">
   <meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body style="background: rgb(98, 196, 155)">
<h1 style="text-decoration:underline; text-align:center; font-weight:bold;">This is the website</h1>
<h2 style=" "> das</h2>


<button>
<a href="/" style="color: black;"> start site </a>
</button>


</html>
