<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
   <title>Look at this</title>
   <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
   <link rel="stylesheet" href="static/bootstrap-theme.min.css">
   <meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body style="background: rgb((248,248,255)">
<h1 style="text-decoration:underline; text-align:center; font-weight:bold;">This is the website</h1>
<h2 style=" "> This can change the website look</h2>

<h2>
<button>
<a href="/layout1" style="color: black;"> layout1</a>
</button>
</h2>

<h2 style="text-align:left; font-weight:bold;">This is a link to the main Flask website </h2>

<h2>
<button>
<a href="https://flask.palletsprojects.com/en/2.0.x/" style="color: black;">To the Flask website</a>
</button>
</h2>

</html>
